@hyperspaceinc:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
auto-install-peers=true
public-hoist-pattern[]=*
strict-peer-dependencies=false